==
<!-- **************************************************************************** -->
<!-- * Contact                                                                  * -->
<!-- **************************************************************************** -->

<div class="slide" id="{{ this.theme.zw_fourth_section_slug }}">
	<article class="page contact">
		<div class="inner">

			<header class="major">
				<h2>Contact</h2>
			</header>
			<div class="row">
				<div class="9u 12u(mobile)">
					<div class="content">

						<!-- Content -->

						<form method="post" action="#">
							<div class="row">
								<div class="6u 12u(mobile)">
									<input class="text" type="text" name="name" id="name" placeholder="Name" />
								</div>
								<div class="6u 12u(mobile)">
									<input class="text" type="email" name="email" id="email" placeholder="Email" />
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<textarea name="message" id="message" placeholder="Message"></textarea>
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<input class="button" type="submit" value="Send Message" />
								</div>
							</div>
						</form>

					</div>
				</div>
				<div class="3u 12u(mobile)">
					<div class="sidebar">

						<!-- Sidebar -->
						{% content 'section_four.htm' %}

					</div>
				</div>
			</div>

		</div>
	</article>
</div>