title = "주문 내역"
url = "/faq/cate/:category/:qid?"

layout = "cooking"
is_hidden = 0

[account]
redirect = "home"
paramCode = "code"

[session]

[FaqFeatured]
featuredNumber = 10
[FaqAsk]

[FaqList]
categoryId = {{:category}}
==
<?php
use Backend\Facades\BackendAuth;
function onInit(){
    //$this["text_menu"] = param("menu"); //{{:menu}}
    // 잘안됨..
    $this['qid'] = $this->param('qid');

    /*관리자 로그인이랑, 일반회원 로그인 로직이 완전 다른듯. Admin은 슈퍼유저.*/
    $user = BackendAuth::getUser();
    if ($user && $user->hasAccess('cooka.order.*')) {
        $this['admin'] = true;

    }else {
        $this['admin'] = false;
    }

}
?>
==
<script>

$(document).ready(function(){

    var isMobile = true;
    if($(window).innerWidth() >= 760) {
        isMobile = false;
    }
    /*따라다니는 메뉴*/
    if(isMobile == false){
    }

    $(".question_title").click(function(){
        $(this).next(".content").toggle();
    });
    {% if qid %}
        $("#question-{{ qid }}").find(".question_title").click();
    {% endif %}




})
</script>
<style>
    div, p {font-size:10pt;}
    #faq-question-column input {margin:10px auto;}

    .question_ul {list-style: none; padding-left:0px;}
    .question_title { padding:5px; cursor:pointer;  border-bottom:2px solid #e4cd55;}
    .question_title:hover { border-left:5px solid gold; }

    .question_ul .content {padding:0 0 20px 10px;}
    .question_ul .content_date {text-align:right; color:gray; font-size:0.8em;}
</style>



<div class="container">
    <br>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left" style="font-size:20px;font-weight:bold;">
                    {{ category }} Q & A
                </div>
                <a href="#a질문입력영역" class="pull-right btn btn-sm btn-default">
                    <span class="fa fa-pencil"></span> 쓰기
                </a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div  style=" margin-bottom:10px;" class="col-sm-8">
                        <div>
                            <h5 class=""></h5>

                            {% set faqs = FaqList.faqs %}
                            <ul class="question_ul">
                                {% for faq in faqs %}
                                <li>
                                    <div id="question-{{ faq.id }}">
                                        <h5 class="question_title">
                                            {{ faq.question }}
                                        </h5>
                                        <div class="content" style="display:none;">
                                            <div>{{ faq.answer|md }} </div>
                                            <div class="content_date">{{ faq.created_at|date("Y-m-d")}}</div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>

                    <div  style="border:0px solid gray;" class="col-sm-4">
                        <h4>Hot Q&A</h4>
                        <div>
                            {% component 'FaqFeatured' %}
                        </div>


                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <a name="a질문입력영역"></a>
                <div id=""  class="row">
                    <div id=""  class="col-sm-8">
                        <div id="faq-question-column">
                            <h5>무엇이든 물어보세요 </h5>
                            {% component 'FaqAsk' %}
                        </div>
                    </div>

                    <div  style="" class="col-sm-4">
                        <p>
                            ① 제작관련 문의 환영합니다.
                            <br>
                            ② 노트제작과정 전반을 배우실 분은 "교습" 신청해주세요.
                        </p>
                        <p class="well well-sm text-center">
                            문의 : 010-4775-0852 <br/>
                            회계팀 : 02-1661-5521 <br/>
                            디자인팀 : 02-2038-2438

                        </p>
                    </div>
                </div>
            </div>
            <ul class="list-group" id="result">
            </ul>

        </div>
    </div>

</div>

