title = "주문관리(adm)"
url = "/order/manage/:orderno?"
layout = "cooking"
is_hidden = 0


[Orders]
[OrderManage]
id = {{ :orderno }}

[Memos]
attach_type = "Order"
attach_id = {{ :orderno }}

[Notecooker]

[Invoices]
order_id = {{ :orderno }}

[InvoiceManager]

[Sms]

[session]
==
<?php
/*use Symfony\Component\HttpFoundation\File\File as FileObj;*/

function onInit()
{
    $this["orderno"] = $this->param('orderno'); //파라매터 받는법?
}

function onStart()
{
    $this->admin = BackendAuth::getUser();
    if(!$this->admin){
        echo "관리자만 접속 가능합니다.";
        exit;
    }

    /*$file = new FileObj("assets/images/cook/paper/note/jebon/샘플-떡제본.jpg");
    $temp["thumb"] = $file->getThumb(140, 160, ['mode'=>'crop']);*/
}
function onClickStep1(){}
function onClickStep2(){}

/*메인 데스크(partial)에서 세부사항 선택시, 이곳(page)에서 가격 계산 / 동시에 js로 이곳 input 에 저장*/
function onCalcFee(){

}

?>
==


<script>

    function setFormInputData(){
        $(".select_part").each(function(){
            $("#input-" + $(this).attr("name")).val(
                $(this).find("option:selected").val()
            );
        });
    }
    function setAreaDisplay(){
        var quantity = $("#select_amount option:selected").val();
        if( quantity == "" || quantity == '소량') {
            $(".div_파트선택영역").hide();
            $("#div_삽지영역").hide();
        }else{
            $(".div_파트선택영역").show();
            if( $("#checkbox_삽지있음").prop("checked") == true ){
                $("#div_삽지영역").show();
            }else $("#div_삽지영역").hide();
        }
        if( $("#select-제본 option:selected").val() == "스프링") {
            $("#select-데코-라벨스틱").prop("disabled", false);
        }else $("#select-데코-라벨스틱").prop("disabled", true);


    }
    function showDetailPayment(){
        /*가격 계산*/
        var datas = $("#form-currentnote").serializeArray(); //JSON.stringify(
        //console.log("111111 "+datas);
        $.request('onCalcFee', {
            update: { 'cook/paper-calculator': '#div_brief' },
            data: datas,
        })
    }

    function form전화견적체크() { /*폼 넘기기 전 실행*/
        if(  !$("#input전화상담고객명").val() ) {
            $("#input전화상담고객명").val( $("#input퀵연락처").val().substr(-4) );
            //alert('고객명을 적어 주세요');
            //$("#input전화상담고객명").focus();
        }
        $("#form전화견적").submit();
    }

    $(document).ready(function(){
        /*메뉴클릭부분*/
        $(".btn상담메뉴").click(function() {
            $(".div메뉴").hide();
            $("#div메뉴_" + $(this).data('name')).show();
        });

        /*견적서 부분 시작*/
        setFormInputData();
        setAreaDisplay();
        showDetailPayment();


        $(".select_part").change(function(){
            setFormInputData();
            setAreaDisplay();
            showDetailPayment();
        });

        $("#btn견적서로드").click(function(){
            showDetailPayment();
        });

        /* Orders 플러그인에 쓰이는 jquery */
        $(".span주문제목").click(function(){
            location.href="/order/manage/" + $(this).parents(".tr주문").data("id");
        })

        /* Orders 플러그인에 쓰이는 jquery 끝 */

        /*따라다니는 메뉴*/
        var isMobile = true;
        if($(window).innerWidth() >= 760) {
            //if (window.matchMedia("(min-width: 760px)").matches) { // matchMedia는 ex 10, 11만됨
            isMobile = false;
        }
        if(isMobile == false){
            /*var floatPosition1 = parseInt($("#area왼쪽영역").css('top'));// 250px 에서 숫자만
             $(window).scroll(function() {
             var newPosition = $(window).scrollTop() + floatPosition1 + "px"; // 현재 스크롤 위치를 가져온다.
             $("#area왼쪽영역").css('top', newPosition);
             });*/

            var floatPosition2 = $("#area견적서").css('top'); //parseInt(.css('top'));// Exp에서 'auto'라고 나옴 / 250px 에서 숫자만
            //var floatPosition2 = parseInt($("#area견적서").position().top); //parseInt(.css('top'));// Exp에서 'auto'라고 나옴 / 250px 에서 숫자만
            if(floatPosition2 == 'auto') floatPosition2 = 0; //ex때문에
            else floatPosition2 = parseInt(floatPosition2);
            $(window).scroll(function() {
                var newPosition = $(window).scrollTop() + floatPosition2 + "px"; // 현재 스크롤 위치를 가져온다.
                //$("#area견적서").css('top', newPosition);
            });

        }else{

        }

        /*Memo 플러그인 전용 JS*/
        $(".btn메모삭제").click(function(){
            if( confirm("메모를 삭제할까요? (지금은 안됨)") ){
                //메모 삭제 로직
            }
        })

    })
</script>

<style>
    h5 {font-family:'맑은 고딕';} /*border-top:2px solid #acaab0;padding-top:3px;*/
    h5:before {content:"▒ "}
    h5 small {color:gray;}
    #cookdesk-center {border-left:0px solid gray;border-right:0px solid gray;min-height:100px;}
    #area왼쪽영역 {padding-left:0px;}
    #area오른쪽영역 {padding-right:0px;}
    #area오른쪽영역-1 {padding:5px;}
    #area노트조합기 {
        padding:5px 10px 5px 10px;
        border-left:0px solid gray;
        margin-top:10px;
    }

    #area견적서 {padding:0px;}

    #bodyWrap {
        background-image:url('{{ "assets/images/cook/site/주문페이지/노트요리사_주문_BG.jpg"|theme }}');
        background-repeat: no-repeat;
        background-position:right top;
        background-size:100% auto;
    }


</style>

<div id="bodyWrap">
    <div class="container">

        <div id="area_top" class="row" style="font-size:11pt;padding:5px;border-top:2px solid #555;border-bottom:2px solid #555;">
            <div class="col-sm-5">
                상담/견적관리
            </div>
            <div class="col-sm-7 text-right">
                <span style="margin:0px 25px;"></span>
                <span style="">
                    <a class="btn btn-sm btn-default" id="btn퀵주문입력" onclick="$('#div새상담').toggle();">
                        새상담+
                    </a>
                </span>
            </div>
        </div>
        <div id="area_top_banner" class="row">

            <div style="display:none;background-color:gold;padding:5px;" class="row" id="div새상담">

                {{ form_ajax('Orders::onSaveOrderAdmin',{
                id: "form전화견적",
                success :"alert('저장되었습니다. 새로고침하세요..')",
                }) }}

                <input type="text" name="title" value="전화 상담요청" />
                <input type="text" name="client_name" value="" id="input전화상담고객명" placeholder="고객명 (모르면 빈값)" />
                <input type="text" name="client_tel" value="" placeholder="휴대폰"  class="form-control" id="input퀵연락처"/>
                <input type="text" name="client_email" value="" placeholder="이메일"  class="form-control"/>
                <!--<input type="text" class="form-control" value="" name="sample_id"
                       placeholder="가장 비슷한 샘플">-->

                <textarea name="client_comment" placeholder="기타 요청사항" class="form-control"
                          style="height:170px;">
    제품용도 : &nbsp;
    제작수량 : &nbsp;

    </textarea>
                <div>
                    <label><input type="checkbox" name="send_email" />의뢰인께 접수완료 메일보냄</label>
                </div>
                <div>
                    <label><input type="checkbox" name="send_sms" />의뢰인께 접수완료 문자보냄</label>
                    <br>
                    <input type="text" name="send_sms_text" value="[직접 만드는 나만의 노트, 노트요리사.com] 상담이 접수되었습니다 감사합니다." class="form-control" />

                </div>
                <small>파일은 새상담을 생성 후 따로 첨부해 주세요.</small>
                <button type="button" onclick="return form전화견적체크();" class="pull-right btn btn btn-primary" data-attach-loading>
                    <span class="fa fa-pencil"></span> 저장
                </button>

                {{ form_close() }}

            </div>
        </div>

        <div id="area전체" class="row">

            <div class="col-sm-4" id="area왼쪽영역" style="">
                <div id="area주문정보">

                    {% component "OrderManage" %}


                </div>

            </div>
            <div class="col-sm-8" id="area오른쪽영역">
                <div class="row">
                    <div class="col-sm-12" id="area오른쪽영역-1">

                        <button type="button" class="btn btn-sm btn-info btn상담메뉴" data-name="메모작성">메모작성</button>
                        <button type="button" class="btn btn-sm btn-info btn상담메뉴" data-name="견적작성">견적작성</button>
                        <button type="button" class="btn btn-sm btn-info btn상담메뉴" data-name="발송견적">
                            발송한 견적
                            <span class="badge" style="padding:1px 4px;">{{ invoice개수 }}</span>

                        </button>
                        <button type="button" class="btn btn-sm btn-info btn상담메뉴" data-name="파일첨부">
                            파일첨부
                            <span class="badge" style="padding:1px 4px;">{{ file개수 }}</span>
                        </button>

                    </div>

                </div>
                <div id="div메뉴_메모작성" class="div메뉴" style="display:block;">

                    <h5>메모 <small>내부 관리용</small></h5>
                    {% component "Memos" %}

                </div>
                <div id="div메뉴_발송견적" class="div메뉴" style="display:none;">
                    <h5>발송한 견적서</h5>
                    {% component "Invoices" %}
                </div>
                <div id="div메뉴_파일첨부" class="div메뉴" style="display:none;">

                    <!--파일 첨부하기..-->
                    <div class=" " style="margin-top:20px;padding:10px;background-color:white;opacity:0.85;">

                        <h5>고객이 첨부한 파일</h5>
                        {% if upload_file %}
                        <a href="{{upload_file_origin}}" target="_blank">
                            <img src="{{upload_file_thumb}}" style="" />
                        </a>
                        {% endif %}

                        <h5 style="margin-top:35px;">요리사가 첨부한 파일 </h5>
                        <div style="padding-left:10px;">
                            <small>Tip:고객은 [주문확인]메뉴에서 자기것을 클릭시 볼 수 있습니다.<small>
                                    <br>
                            {% for key, _image_arr in image_arr %}
                            <div class="pull-left" style="margin-right:5px;">
                                <a href="{{ _image_arr }}" target="_blank">
                                    {{key}}.<br>
                                    <img src="{{thumb_arr[key]}}" style="" />
                                </a>
                            </div>
                            {% endfor %}

                            <div style="clear:both"></div>
                        </div>

                        <h5 style="margin-top:35px;clear:both;" class=""> 첨부파일 추가</h5>
                        <!--file 저장은 ajax로 안되고 enctype=multipart 넣어줘야!! 맨날 삽질2시간-->
                        {{ form_open({ request: 'OrderManage::onAddAttachment', files : true, url : "/order/manage/"~order.id }) }}
                        <input type="hidden" name="order_id" value="{{ order.id }}" />
                        <div class="col-xs-6"><input type="file" name="upload_files[]" class="form-control" placeholder=".." /></div>
                        <div class="col-xs-6"><input type="file" name="upload_files[]" class="form-control" placeholder=".." /></div>
                        <div class="text-right">
                            <button type="submit" onclick="" class="btn btn-xs btn-default" data-attach-loading>첨부파일 추가</button>
                        </div>
                        {{ form_close() }}
                    </div>
                </div>
                <div id="div메뉴_견적작성" class="div메뉴" style="display:none;">
                    <div class="col-sm-7" id="area오른쪽영역-1">

                        <div id="area노트조합기">
                            {% component "Notecooker" %}
                        </div>

                    </div>

                    <div class="col-sm-5" id="area견적서" style="margin-top:15px;">
                        <!--견적서부분-->
                        <div id="div_brief" style="background-color:#ffffff;border:1px solid gray;border-bottom:1px solid gray;"></div>

                        <div class="text-align">

                            <!--이부분은 notecooker 컴포는트의 form 안으로 자동이동됨-->
                            <div id="div표지직접입력박스">
                                <div class="row">
                                    <div class="col-xs-7" style="padding:0px;">
                                        <input type="text" name="표지_직접1_항목" id="input-표지_직접1_항목" value="" placeholder="표지 항목추가" class="form-control" />
                                    </div>
                                    <div class="col-xs-5" style="padding:0px;">
                                        <input type="text" name="표지_직접1_비용" id="input-표지_직접1_비용" value="" placeholder="추가비용" class="form-control"  />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7" style="padding:0px;">
                                        <input type="text" name="삽지_직접1_항목" id="input-삽지_직접1_항목" value="" placeholder="삽지 항목추가" class="form-control" />
                                    </div>
                                    <div class="col-xs-5" style="padding:0px;">
                                        <input type="text" name="삽지_직접1_비용" id="input-삽지_직접1_비용" value="" placeholder="추가비용" class="form-control"  />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7" style="padding:0px;">
                                        <input type="text" name="내지_직접1_항목" id="input-내지_직접1_항목" value="" placeholder="내지 항목추가" class="form-control" />
                                    </div>
                                    <div class="col-xs-5" style="padding:0px;">
                                        <input type="text" name="내지_직접1_비용" id="input-내지_직접1_비용" value="" placeholder="추가비용" class="form-control"  />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7" style="padding:0px;">
                                        <input type="text" name="작업_직접1_항목" id="input-작업_직접1_항목" value="" placeholder="작업 항목추가 1" class="form-control" />
                                    </div>
                                    <div class="col-xs-5" style="padding:0px;">
                                        <input type="text" name="작업_직접1_비용" id="input-작업_직접1_비용" value="" placeholder="추가비용" class="form-control"  />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7" style="padding:0px;">
                                        <input type="text" name="작업_직접2_항목" id="input-작업_직접2_항목" value="" placeholder="작업 항목추가 2" class="form-control" />
                                    </div>
                                    <div class="col-xs-5" style="padding:0px;">
                                        <input type="text" name="작업_직접2_비용" id="input-작업_직접2_비용" value="" placeholder="추가비용" class="form-control"  />
                                    </div>
                                </div>

                                <div class="col-xs-12" style="padding:0px;">
                                    <button type="button" id="btn견적서로드" class="btn btn-xs btn-default">추가비용 일괄적용</button>
                                </div>
                            </div>
                            <script>
                                $(document).ready(function() {
                                    $("#div표지직접입력박스").appendTo("#form-currentnote");
                                });
                            </script>

                            <button class="btn btn-sm btn견적추가">견적추가</button>
                        </div>
                    </div>
                    <div id="area가변견적" class="col-sm-12">
                        {% component "InvoiceManager" %}
                    </div>
                </div>

            </div>

        </div><!--row-->


        <div class="col-sm-12" id="cookdesk-center">


        </div>
        <div id="area전체리스트" style="background-color: white;">
            <h3>전체 리스트</h3>
            {% component "Orders" %}

        </div>
    </div>



</div>
{% component "Memos" %}


