title = "노트 주문제작"
url = "/cook/paper/note"
layout = "cooking"
is_hidden = 0

[session]
==
<?php
/*use Symfony\Component\HttpFoundation\File\File as FileObj;*/

function onStart()
{
    /*$file = new FileObj("assets/images/cook/paper/note/jebon/샘플-떡제본.jpg");
    $temp["thumb"] = $file->getThumb(140, 160, ['mode'=>'crop']);*/
}
function onClickStep1(){}
function onClickStep2(){}

/*메인 데스크(partial)에서 세부사항 선택시, 이곳(page)에서 가격 계산 / 동시에 js로 이곳 input 에 저장*/
function onCalcFee(){

}

?>
==


<script>
    function setFormInputData(){
        $(".select_part").each(function(){
            $("#input-" + $(this).attr("name")).val(
                $(this).find("option:selected").val()
            );
        });
    }
    function setAreaDisplay(){
        var quantity = $("#select_amount option:selected").val();
        if( quantity == "" || quantity == '소량') {
            $(".div_파트선택영역").hide();
            $("#div_삽지영역").hide();
        }else{
            $(".div_파트선택영역").show();
            if( $("#checkbox_삽지있음").prop("checked") == true ){
                $("#div_삽지영역").show();
            }else $("#div_삽지영역").hide();
        }
        if( $("#select-제본 option:selected").val() == "스프링") {
            $("#select-데코-라벨스틱").prop("disabled", false);
        }else $("#select-데코-라벨스틱").prop("disabled", true);


    }
    function setImageUrl(){
        var sel = $("#select-제본").find("option:selected").val();
        if( sel == "무선" ){
            $("#leftimg-1").css("background-image", "url({{ 'assets/images/cook/site/주문페이지/노트요리사_주문_무선제본_01.jpg'|theme }})");
            $("#leftimg-2").css("background-image", "url({{ 'assets/images/cook/site/주문페이지/노트요리사_주문_무선제본_02.jpg'|theme }})");
            $("#leftimg-3").css("background-image", "url({{ 'assets/images/cook/site/주문페이지/노트요리사_주문_무선제본_03.jpg'|theme }})");
        }else if( sel == "중철" ){
            $("#leftimg-1").css("background-image", "url({{ 'assets/images/cook/site/주문페이지/노트요리사_주문_중철제본_01.jpg'|theme }})");
            $("#leftimg-2").css("background-image", "url({{ 'assets/images/cook/site/주문페이지/노트요리사_주문_중철제본_02.jpg'|theme }})");
            $("#leftimg-3").css("background-image", "url({{ 'assets/images/cook/site/주문페이지/노트요리사_주문_중철제본_03.jpg'|theme }})");
        }else if( sel == "스프링" ){
            $("#leftimg-1").css("background-image", "url({{ 'assets/images/cook/site/주문페이지/노트요리사_주문_링제본_01.jpg'|theme }})");
            $("#leftimg-2").css("background-image", "url({{ 'assets/images/cook/site/주문페이지/노트요리사_주문_링제본_02.jpg'|theme }})");
            $("#leftimg-3").css("background-image", "url({{ 'assets/images/cook/site/주문페이지/노트요리사_주문_링제본_03.jpg'|theme }})");
        }else if( sel == "양장" ){
            $("#leftimg-1").css("background-image", "url({{ 'assets/images/cook/site/주문페이지/노트요리사_주문_양장제본_01.jpg'|theme }})");
            $("#leftimg-2").css("background-image", "url({{ 'assets/images/cook/site/주문페이지/노트요리사_주문_양장제본_02.jpg'|theme }})");
            $("#leftimg-3").css("background-image", "url({{ 'assets/images/cook/site/주문페이지/노트요리사_주문_양장제본_03.jpg'|theme }})");
        }
    }
    function showDetailPayment(){
        /*가격 계산*/
        var datas = $("#form-currentnote").serializeArray(); //JSON.stringify(
        //console.log("111111 "+datas);
        $.request('onCalcFee', {
            update: { 'cook/paper-calculator': '#div_brief' },
            data: datas,
        })
    }

$(document).ready(function(){

    setFormInputData();
    setAreaDisplay();
    showDetailPayment();
    setImageUrl();
    /*수량 변경시 가격 계산*/
    var previous;
    $("#select_amount").change(function() {
        var note_part = $(this).find("option:selected").val();
        if(note_part == "소량"){
            //$(this).find("option[value="+previous+"]").prop("selected", true);
            $('#modal소량주문').modal('show');
        }else $("#input-수량").val( note_part );
        showDetailPayment(); /*가격 계산 paper.note.htm */
    });

    $(".select_part").change(function(){
        setFormInputData();
        setAreaDisplay();
        showDetailPayment();
    });
    $("#select-제본").change(function() {
        setImageUrl();
    });

    /*따라다니는 메뉴*/
    var isMobile = true;
    if($(window).innerWidth() >= 760) {
        //if (window.matchMedia("(min-width: 760px)").matches) { // matchMedia는 ex 10, 11만됨
        isMobile = false;
    }
    if(isMobile == false){
        /*var floatPosition1 = parseInt($("#area이미지").css('top'));// 250px 에서 숫자만
        $(window).scroll(function() {
            var newPosition = $(window).scrollTop() + floatPosition1 + "px"; // 현재 스크롤 위치를 가져온다.
            $("#area이미지").css('top', newPosition);
        });*/

        var floatPosition2 = $("#area견적서").css('top'); //parseInt(.css('top'));// Exp에서 'auto'라고 나옴 / 250px 에서 숫자만
        //var floatPosition2 = parseInt($("#area견적서").position().top); //parseInt(.css('top'));// Exp에서 'auto'라고 나옴 / 250px 에서 숫자만
        if(floatPosition2 == 'auto') floatPosition2 = 0; //ex때문에
        else floatPosition2 = parseInt(floatPosition2);
        $(window).scroll(function() {
            var newPosition = $(window).scrollTop() + floatPosition2 + "px"; // 현재 스크롤 위치를 가져온다.
            $("#area견적서").css('top', newPosition);
        });

        $("#leftimg-1").css("height", "300px");
        $("#leftimg-2").css("height", "200px");
        $("#leftimg-3").css("height", "200px");
    }else{
        $("#leftimg-1").css("height", "150px");
        $("#leftimg-2").css("height", "150px");
        $("#leftimg-3").css("height", "150px");

    }
})
</script>
<link href='http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css' rel='stylesheet' type='text/css' />
<style>

    #cookdesk-center {border-left:0px solid gray;border-right:0px solid gray;min-height:100px;}
    #area이미지 {padding:5px;}
    #area주문서 {
        padding:5px 10px 5px 10px;
        border-left:0px solid gray;
        margin-top:10px;
    }
    #area주문서_안쪽 {
        padding:5px 15px 10px  15px;background-color:white;opacity:0.75;
    }
    #area견적서 {padding:0px;border:1px solid gray;border-bottom:1px solid gray;}
    .cook-step {text-align:left;clear:both;display:block;padding:5px;border-bottom:1px dotted gray; ;}
    .cook-step:hover {background-color:#eee;cursor:pointer;}
    .part_title {font-size:1em;color:black;}
    .part_selected {font-size:0.8em;letter-spacing: -1px;}
    #title-left-top { text-align:center;color:white;background-color:tomato;padding:10px; }
    #title-right-top { text-align:center;color:white;background-color:tomato;padding:10px; }
    #title-right-btm { text-align:center;color:white;background-color:tomato;padding:10px; }
    .input-current {width:100%;border:0px solid red;}

    #leftimg-1 {
        height:300px;
        margin-bottom:10px;
        border:1px solid gray;
        background-size:cover;
    }
    #leftimg-2 {
        height:200px;
        border:1px solid gray;
        background-size:cover;
    }
    #leftimg-3 {
        height:200px;
        border:1px solid gray;
        background-size:cover;
    }
    .step_title {border-bottom:2px solid #308fc6;padding:4px;margin-bottom:10px;}

    .step_content {font-size:11pt;}
    .step_content_title {text-align:center;padding:3px 0;font-weight:bold;color: #909090;}
    .step_content_row {margin-top:0px;margin-bottom:3px;}

    #bodyWrap {
        background-image:url('{{ "assets/images/cook/site/주문페이지/노트요리사_주문_BG.jpg"|theme }}');
        background-size: contain;
        background-repeat: no-repeat;
        background-position:right top;
        background-size:auto 100% ;
    }

    #area주문서 div {
        font-family:'Nanum Gothic';color: #505050;font-size:20px;font-weight: bold;
    }
    #area주문서 div.step_content_title {
        font-size:14px;
    }
    .form-control {padding:0px 12px;height:28px;line-height: 28px;}
    select.input-sm {height:28px; height:28px; }
</style>

<div id="bodyWrap">
<div class="container">

    <form id="form-currentnote" action="/cook/paper/note/order" method="post">

        <input type="hidden" name="제본" id="input-제본"  value=""  />
        <input type="hidden" name="크기" id="input-크기" value=""  />
        <input type="hidden" name="크기-내지" id="input-크기-내지" value=""  />

        <input type="hidden" name="표지-스타일" id="input-표지-스타일" value=""  /><!--일반/금은박-->
        <input type="hidden" name="표지-방식" id="input-표지-방식" value=""  /><!--소프트커버/하드커버 2합..-->
        <input type="hidden" name="표지-인쇄" id="input-표지-인쇄" value=""  /><!--양면 1도-->
        <input type="hidden" name="표지-용지" id="input-표지-용지" value=""  /><!--스노우 180g-->
        <input type="hidden" name="표지-평량" id="input-표지-평량" value=""  /><!--합지 포함 평량-->
        <input type="hidden" name="표지-코팅" id="input-표지-코팅" value=""  />
        <!--<input type="hidden" name="표지-박" id="input-표지-박" value=""  />--><!--1천회 기준 5만원-->
        <input type="hidden" name="표지-박개수" id="input-표지-박개수" value=""  /><!--1천회 기준 5만원-->
        <input type="hidden" name="표지-날개" id="input-표지-날개" value=""  />

        <input type="hidden" name="삽지-용지" id="input-삽지-용지" value=""  />
        <input type="hidden" name="삽지-인쇄" id="input-삽지-인쇄" value=""  />
        <input type="hidden" name="삽지-평량" id="input-삽지-평량" value=""  />
        <input type="hidden" name="삽지-매수" id="input-삽지-매수" value=""  />

        <input type="hidden" name="내지-용지" id="input-내지-용지" value=""  />
        <input type="hidden" name="내지-인쇄" id="input-내지-인쇄" value=""  />
        <input type="hidden" name="내지-평량" id="input-내지-평량" value=""  />
        <input type="hidden" name="내지-매수" id="input-내지-매수" value=""  />

        <input type="hidden" name="데코-라운딩" id="input-데코-라운딩" value=""  />
        <input type="hidden" name="데코-라벨스틱" id="input-데코-라벨스틱" value=""  />
        <input type="hidden" name="데코-OPP" id="input-데코-OPP" value=""  />

        <input type="hidden" name="배송" id="input-배송" value=""  />

        <input type="hidden" name="수량" id="input-수량" value=""  />

        <input type="hidden" name="디자인" id="input-디자인" value=""  />


    </form>

    <div id="area_top" class="row" style="font-size:11pt;padding:5px;border-top:2px solid #555;border-bottom:2px solid #555;">
        <div class="col-sm-5">
            노트제작
        </div>
        <div class="col-sm-7 text-right">
            <span style="margin:0px 25px;"></span>
            <span style="">문의 1661-5521</span>
        </div>
    </div>
    <div id="area_top_banner" class="row">

    </div>


    <div id="area전체" class="row">

    <div class="col-sm-5" id="area이미지" style="">
        <div class="leftimg" style="margin-top:10px;">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div id="leftimg-1">

                    </div>
                </div>

                <div class="col-sm-6 col-xs-6" style="padding-right:0px;">
                    <div id="leftimg-2"></div>
                </div>
                <div class="col-sm-6 col-xs-6" style="padding-left:10px;">
                    <div id="leftimg-3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-5" id="area주문서">
        <div id="area주문서_안쪽">

        <!--<div id="title-cate" style="padding-left:5px;">
            <span class="fa fa-toggle-right"></span> 주문서

        </div>-->

        <div class="step_title" style="">
            제본방식/ 사이즈
        </div>
        <div class="step_content">

            <div class="row step_content_row">
                <div class="col-xs-3">
                    <div class="step_content_title">수량</div>
                </div>
                <div class="col-xs-9">
                    <select name="수량" id="select_amount" class=" select_part input-sm form-control" >
                        <option value="" style="color:tomato;">수량을 선택해주세요</option>
                        <option value="100">100권</option>
                        <option value="200">200권</option>
                        <option value="300">300권</option>
                        <option value="400">400권</option>
                        <option value="500">500권</option>
                        <option value="600">600권</option>
                        <option value="800">800권</option>

                        {% for i in 2..10 %}
                        {% if i == 2  %}
                            <option value="{{ i * 500 }}" >{{ i * 500}}권</option>
                        {% else %}
                            <option value="{{ i * 500 }}">{{ i * 500}}권</option>
                        {% endif %}
                        {% endfor %}
                        {% for i in 6..15 %}
                            <option value="{{ i * 1000 }}">{{ i * 1000}}권</option>
                        {% endfor %}
                        {% for i in 4..10 %}
                            <option value="{{ i * 5000 }}">{{ i * 5000}}권</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row step_content_row">
                <div class="col-xs-3">
                    <div class="step_content_title">제본</div>
                </div>
                <div class="col-xs-9">
                    <select name="제본" id="select-제본"   class="select_part input-sm form-control">
                        <option value="무선">무선제본</option>
                        <option value="중철">중철제본</option>
                        <option value="스프링">스프링제본</option>
                        <option value="양장">양장제본</option>
                    </select>
                </div>
            </div>
            <div class="row step_content_row">
                <div class="col-xs-3">
                    <div class="step_content_title">크기</div>
                </div>
                <div class="col-xs-9">
                    <select name="크기" id="select-크기"  class="select_part input-sm form-control">
                        <option value="A4">A4 (210 x 297mm)</option>
                        <option value="B5">B5 (176 x 250mm)</option>
                        <option value="A5">A5 (148 x 210mm)</option>
                        <option value="B6">B6 (125 x 176mm)</option>
                        <option value="A6">A6 (105 x 148mm)</option>
                    </select>
                    <!--<input type="text" name="크기" id="input-크기" value="" class="input-sm form-control" />-->
                    <input type="hidden" name="크기-내지" id="input-크기-내지" value=""  />
                </div>
            </div>
        </div>



        <div class="step_title" style="">
            표지
        </div>
        <div class="step_content div_파트선택영역">
            <div class=" ">
                <div class="row step_content_row">
                    <div class="col-xs-3">
                        <div class="step_content_title">종이</div>
                    </div>
                    <div class="col-xs-9">

                        <div class="row">
                            <div class="col-xs-6">
                                <select name="표지-용지" id="select-표지-용지"  class="select_part input-sm form-control">
                                    <option value="아트">아트  </option>
                                    <option value="스노우">스노우</option>
                                    <option value="모조">모조  </option>
                                    <option value="크라프트">크라프트  </option>
                                    <option value="특수지">특수지</option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <select name="표지-평량" id="select-표지-평량"  class="select_part input-sm form-control">
                                    <option value="180g">180g</option>
                                    <option value="250g">250g</option>
                                    <option value="300g">300g</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row step_content_row">

                    <div class="col-xs-3">
                        <div class="step_content_title">인쇄</div>
                    </div>
                    <div class="col-xs-9">
                        <select name="표지-인쇄" id="select-표지-인쇄"  class="select_part input-sm form-control">
                            <option value="단면 1도">바깥면만 흑백인쇄 (단면1도)</option>
                            <option value="양면 1도">앞뒤 흑백인쇄 (양면1도)</option>
                            <option value="단면 4도" selected>바깥면만 컬러인쇄 (단면4도)</option>
                            <option value="양면 4도">앞뒤 컬러인쇄 (양면4도)</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row step_content_row">
                <div class="col-xs-3">
                    <div class="step_content_title">
                        <div class="step_content_title">후가공</div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="step_content_title">박</div>

                        </div>
                        <div class="col-xs-9">
                            <select name="표지-박개수" id="select-표지-박개수"  class=" select_part input-sm form-control" size="1">
                                <option value="">없음</option>
                                <option value="1개">박 1군데 (예:표지 하단)</option>
                                <option value="2개">박 2군데 (예1:앞표지 위아래, 예2:앞뒤에 각1개)</option>
                                <option value="3개">박 3군데 (예:앞표지 위/아래 및 뒤표지 중간)</option>
                                <option value="4개">박 4군데</option>
                                <option value="전체">전체 사이즈 박작업</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="step_content_title">코팅</div>
                        </div>
                        <div class="col-xs-9">
                            <select name="표지-코팅" id="select-표지-코팅"  class="select_part input-sm form-control">
                                <option value="">코팅없음</option>
                                <option value="유광코팅">유광코팅</option>
                                <option value="무광코팅">무광코팅</option>
                                <option value="엠보코팅">엠보코팅</option>
                            </select>
                        </div>
                    </div>
                    <!--<div class="checkbox">
                        <label>
                            <input type="checkbox" name="데코-책날개" id="input-데코-책날개" value="" class="checkbox_part" />
                            책날개
                        </label>
                    </div>-->
                </div>
            </div>
        </div>





        <div class="step_title" style="">
            삽지
            <input type="checkbox" name="삽지있음" id="checkbox_삽지있음" onclick="javascript:setAreaDisplay()" />

        </div>
        <div class="step_content div_파트선택영역" id="div_삽지영역" style="">
            <div class="row step_content_row">
                <div class="col-xs-3">
                    <div class="step_content_title">매수</div>
                </div>
                <div class="col-xs-9">
                    <select name="삽지-매수" id="select-삽지-매수" class="select_part input-sm form-control" >
                        <option value="0">삽지 없음</option>
                        {% for i in 1..4 %}
                        <option value="{{ i  }}">{{ i }}장 ({{ i * 2 }}페이지)</option>
                        {% endfor %}
                    </select>

                </div>
            </div>
            <div class="row step_content_row">
                <div class="col-xs-3">
                    <div class="step_content_title">종이</div>
                </div>
                <div class="col-xs-9">

                    <div class="row">
                        <div class="col-xs-6">
                            <select name="삽지-용지" id="select-삽지-용지"  class="select_part input-sm form-control">
                                <option value="아트">아트  </option>
                                <option value="스노우">스노우</option>
                                <option value="모조">모조  </option>
                                <option value="크라프트">크라프트  </option>
                                <option value="특수지">특수지</option>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <select name="삽지-평량" id="select-삽지-평량"  class="select_part input-sm form-control">
                                <option value="80g">80g</option>
                                <option value="100g">100g</option>
                                <option value="150g">120g</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row step_content_row">

                <div class="col-xs-3">
                    <div class="step_content_title">인쇄</div>
                </div>
                <div class="col-xs-9">
                    <select name="삽지-인쇄" id="select-삽지-인쇄"  class="select_part input-sm form-control">

                        <option value="단면 1도">한쪽면만 흑백인쇄 (단면 먹1도)</option>
                        <option value="양면 1도">앞뒤 흑백인쇄 (양면 먹1도) </option>
                        <option value="단면 4도">한쪽면만 컬러인쇄 (단면 4도)</option>
                        <option value="양면 4도">앞뒤 컬러인쇄 (양면 4도) </option>
                    </select>
                </div>
            </div>
        </div>




        <div class="step_title" style="">
            내지
        </div>
        <div class="step_content div_파트선택영역" id="div_내지영역">
            <div class="row step_content_row">
                <div class="col-xs-3">
                    <div class="step_content_title">매수</div>
                </div>
                <div class="col-xs-9">
                    <select name="내지-매수" id="select-내지-매수" class="select_part input-sm form-control" >
                        {% for i in 1..60 %}
                        {% if i == 20  %}
                        <option value="{{ i * 4 }}" selected>{{ i * 4 }}장 ({{ i * 8 }}페이지)</option>
                        {% else %}
                        <option value="{{ i * 4 }}">{{ i * 4 }}장 ({{ i * 8 }}페이지)</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row step_content_row">
                <div class="col-xs-3">
                    <div class="step_content_title">종이</div>
                </div>
                <div class="col-xs-9">

                    <div class="row">
                        <div class="col-xs-6">
                            <select name="내지-용지" id="select-내지-용지"  class="select_part input-sm form-control">
                                <option value="미색모조">미색모조  </option>
                                <option value="백색모조">백색모조  </option>
                                <option value="특수지">특수지</option>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <select name="내지-평량" id="select-내지-평량"  class="select_part input-sm form-control">
                                <option value="80g">80g</option>
                                <option value="100g">100g</option>
                                <option value="150g">120g</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row step_content_row">

                <div class="col-xs-3">
                    <div class="step_content_title">인쇄</div>
                </div>
                <div class="col-xs-9">
                    <select name="내지-인쇄" id="select-내지-인쇄"  class="select_part input-sm form-control">

                        <option value="단면 1도">한쪽면만 흑백인쇄 (단면 먹1도)</option>
                        <option value="양면 1도" selected>앞뒤 흑백인쇄 (양면 먹1도) </option>
                        <option value="단면 4도">한쪽면만 컬러인쇄 (단면 4도)</option>
                        <option value="양면 4도">앞뒤 컬러인쇄 (양면 4도) </option>
                    </select>
                </div>
            </div>
        </div>



        <div class="step_title" style="">
            최종가공 및 포장
        </div>
        <div class="step_content div_파트선택영역" id="">
            <div class="row step_content_row">
                <div class="col-xs-3">
                    <div class="step_content_title">라벨스틱</div>
                </div>
                <div class="col-xs-9">
                    <select name="데코-라벨스틱" id="select-데코-라벨스틱" class="select_part input-sm form-control" >
                        <option value="">없음</option>
                        <option value="라벨스틱">라벨스틱</option>
                    </select>
                </div>
            </div>

            <div class="row step_content_row">
                <div class="col-xs-3">
                    <div class="step_content_title">라운딩</div>
                </div>
                <div class="col-xs-9">
                    <select name="데코-라운딩" id="select-데코-라운딩" class="select_part input-sm form-control" >
                        <option value="">없음</option>
                        <option value="4모서리 라운딩">라운드 처리</option>
                    </select>
                </div>
            </div>
            <div class="row step_content_row">
                <div class="col-xs-3">
                    <div class="step_content_title">OPP포장</div>
                </div>
                <div class="col-xs-9">
                    <select name="데코-OPP" id="select-데코-OPP" class="select_part input-sm form-control" >
                        <option value="">없음</option>
                        <option value="개별OPP포장">OPP포장</option>
                    </select>
                </div>
            </div>


            <div class="row step_content_row">
                <div class="col-xs-3">
                    <div class="step_content_title">배송</div>
                </div>
                <div class="col-xs-9">
                    <select name="배송" id="select-배송" class="select_part input-sm form-control" >
                        <option value="트럭">일반배송</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="step_title" style="">
            디자인
        </div>
        <div class="step_content div_파트선택영역" id="">
            <div class="row step_content_row">
                <div class="col-xs-3">
                    <div class="step_content_title">디자인</div>
                </div>
                <div class="col-xs-9">
                    <select name="디자인" id="select-디자인" class="select_part input-sm form-control" >
                        <option value="제작만">제작만 (디자인 파일 있음)</option>
                        <option value="디자인보완">디자인 보완</option>
                        <option value="디자인기획">디자인 기획</option>
                    </select>
                </div>
            </div>
        </div>

        <div style="padding:5px;text-align:center;border:2px dashed green;background-color:#c6eec6;font-size:10pt;">
            <!--디자인/로고파일<br>
            파일을 여기 놓아주세요<br>
            또는 -->
            자료 : help@moior.com

        </div>


        </div>
    </div>


    
    <div class="col-sm-2" id="area견적서" style="margin-top:15px;background-color:#ffffff;">
        <div style="padding-top:0px;text-align:center;">

        </div>

        <div style="">
            <!--position:fixed;right:5px;bottom:5px;border-radius:5px;-->
            <form>
                <input type="hidden" name="제본" />
                <input type="hidden" name="크기" />
                <input type="hidden" name="표지" />
                <input type="hidden" name="내지" />
                <input type="hidden" name="데코" />
            </form>
        </div>

        <!--견적서부분-->
        <div id="div_brief"></div>


        <div id="">
            <a href="javascript:$('#form-currentnote').submit();" class="btn btn-primary btn-lg" style="display:block;margin:4px;ss">다 음 ▷</a>

        </div>
    </div>

    </div><!--row-->


    <div class="col-sm-12" id="cookdesk-center">


    </div>

</div>
</div>



<div class="control-popup modal fade" id="modal소량주문" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">1천권 미만 주문방법</h4>
            </div>
            <div class="modal-body" style="font-size:11pt;">
                <div>소량 주문시, 기존 제작된 제품에 금박, 은박, 먹박 작업만 가능합니다.</div>
                <div>샘플페이지에서 제품을 선택해주세요!</div>
                <div>(최소 100권 부터 가능)</div>
            </div>
            <div class="modal-footer">
                <a href="/sample/paper/note" class="btn btn-primary">샘플페이지로</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

