
<h3 class="headline"><span>디자인<small> 표지 및 내지 디자인</small></span></h3>

<style>
    .img-size-explain {max-width:200px;}
</style>
<script" src="{{ asset('sk\imageuploadify\imageuploadify.js'}} "></script>
<link href="{{ asset('sk\imageuploadify\imageuploadify.min.css'}}" rel="stylesheet"><br type="_moz">
<script>
$(document).ready(function(){
    $('input[type="file"]').imageuploadify();

})

</script>
<h4>표지</h4>
<p>

    인쇄만 의뢰
    디자인 수정요청
    <div>디자인 요청합니다</div>
    글과 그림으로 설명해주세요!
    1. 파일 업로드
    <!--border:3px dotted royalblue;padding:4px;border-radius:5px;-->
    <input type="checkbox" name="chk_0000" />
    <input type="file" multiple />
    <input type="file" accept=".xlsx,.xls,image/*,audio/*,video/*.doc,.docx,.ppt,.pptx,.txt,.pdf" multiple>

    2.
</p>

<h4>내지</h4>

<ol>
    <li>깨끗한 내지 (무선)</li>
    <li>
        유선
        <ol>
            <li>7mm</li>
            <li>8mm (평균)</li>
            <li>9mm</li>
            <li>10mm</li>
        </ol>
    </li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ol>
