==
function onStart()
{
}
==
<h3 class="headline"><span>현재 노트<small> 왼쪽버튼을 눌러 재료를 조합하세요</small></span></h3>

<style>
    h3 small {color:gray;}
    h5 small {color:gray;}
    .img-size-explain {max-width:200px;}
    #currnet-page div {font-size:10pt;}
    #currnet-page span.icon-number {width:40px;height:36px;display:inline-block;background-size:cover;
        background-size:130px; }
</style>

<h4>클릭 몇번으로 노트를 제작해보세요!</h4>

<div id="currnet-page" class="row">
    <div class="col-sm-4">
        <span class="icon-number" style="background-position:0px -7px;background-image:url('{{ "assets/images/cook/1-2-3-Steps.png"|theme }}');"></span>
        <br>왼쪽 메뉴를 차례대로 클릭해서 만드실 제품을 구성하세요.
    </div>
    <div class="col-sm-4">
        <span class="icon-number" style="background-position:-45px -7px;background-image:url('{{ "assets/images/cook/1-2-3-Steps.png"|theme }}');"></span>
        <br>상세 디자인을 위해서 담당디자이너가 전화를 드립니다.

    </div>
    <div class="col-sm-4">
        <span class="icon-number" style="background-position:-90px -7px;background-image:url('{{ "assets/images/cook/1-2-3-Steps.png"|theme }}');"></span>
        <br>시안 최종 컨펌 후 제작~발송
    </div>
    <!--<div>* 재료가 선택되지 않은 부분은 붉은색으로 표시되어 있습니다.</div>
    <div>* 모든 재료를 선택하면 "저장"버튼이 활성화됩니다.</div>-->
    <!--<div>* 비용 입금시 저희 요리사가 전화드려서1- 더 디테일한 내용을 확정합니다.</div>-->
</div>

<p>
    <img style="width:8s0%;margin:10%;"
        src=" {{ ('assets/images/cook/paper/note/preview/스프링-B4-단면4도-소프트커버-스노우250g-라운딩-라벨스틱.jpg')|theme }}" />

</p>


<!--<p>
    <input type="button" class="btn btn-lg btn-infos" id="btn_makerandom" value="랜덤 조합" />

</p>-->


<div>주문제작의 경우 대략 7일 ~ 14일 소요됩니다.</div>
