==
function onStart()
{
}
==
<h3 class="headline"><span>노트 재료<small> 왼쪽 메뉴에서 재료를 변경하세요</small></span></h3>

<style>
    h3 small {color:gray;}
    h5 small {color:gray;}
    .img-size-explain {max-width:200px;}
    #currnet-page div {font-size:10pt;}
    #currnet-page span.icon-number {width:40px;height:36px;display:inline-block;background-size:cover;
        background-size:130px; }
</style>

<h4 class="text-center" style="color:#c0ca33;">노트 6요소</h4>

<div style="padding:20px;">
    <script src="{{ ('assets/javascript/pages/pictarea.min.js')|theme }}" type="text/javascript"></script>
    <img style="width:100%;margin:auto; " id="note-map-img"
         src=" {{ ('assets/images/cook/paper/note/note-parts.jpg')|theme }}"  usemap="#note-map" />
    <map name="note-map" id="note-map" >
        <area alt="" title="" href="/cook/paper/note/제본" shape="poly" coords="46,388,151,370,215,393,278,353,258,283,200,253,151,265,114,290,35,303,18,343" />
        <area alt="" title="" href="/cook/paper/note/표지" shape="poly" coords="273,188,313,264,468,218,420,149" />
        <area alt="" title="" href="/cook/paper/note/크기" shape="poly" coords="93,93,128,176,494,90,476,49,445,19,233,54" />
        <area alt="" title="" href="/cook/paper/note/삽지" shape="poly" coords="330,524,333,544,384,528,389,605,358,643,388,666,491,658,505,629,483,593,428,518,626,476,608,456,428,491,339,513" />
        <area alt="" title="" href="/cook/paper/note/내지" shape="poly" coords="534,660,638,653,638,598,583,588,564,563,583,530,541,506,518,510,513,535,514,568,528,599,516,613,523,648" />
        <area alt="" title="" href="/cook/paper/note/데코" shape="poly" coords="520,364,504,405,533,435,608,423,641,480,693,493,743,463,745,410,699,371,640,366,594,358" />
    </map>
    <script>
        $(function() {
            $('#note-map-img').pictarea({
                rescaleOnResize: true
            });
            $("#note-map area").click(function(){
                location.href=$(this).attr("href");
            })
        });
    </script>

</div>


<div id="currnet-page" class="row">
    <div class="col-sm-4">
        <span class="icon-number" style="background-position:0px -7px;background-image:url('{{ "assets/images/cook/1-2-3-Steps.png"|theme }}');"></span>
        <br>왼쪽 메뉴를 차례대로 클릭해서 만드실 제품을 구성하세요.
    </div>
    <div class="col-sm-4">
        <span class="icon-number" style="background-position:-45px -7px;background-image:url('{{ "assets/images/cook/1-2-3-Steps.png"|theme }}');"></span>
        <br>조합완료후, 상세 디자인을 확정하기 위해서 담당 디자이너가 전화를 드립니다.

    </div>
    <div class="col-sm-4">
        <span class="icon-number" style="background-position:-90px -7px;background-image:url('{{ "assets/images/cook/1-2-3-Steps.png"|theme }}');"></span>
        <br>시안 최종 컨펌 후 제작~발송 (대략 7일 ~ 14일 소요)
    </div>
    <!--<div>* 재료가 선택되지 않은 부분은 붉은색으로 표시되어 있습니다.</div>
    <div>* 모든 재료를 선택하면 "저장"버튼이 활성화됩니다.</div>-->
    <!--<div>* 비용 입금시 저희 요리사가 전화드려서1- 더 디테일한 내용을 확정합니다.</div>-->
</div>

<!--<p>
    <input type="button" class="btn btn-lg btn-infos" id="btn_makerandom" value="랜덤 조합" />

</p>-->


<div style="font-size:10pt;margin:10px;"class="well">제작이 어려운 경우, 전화주시면 친절히 안내드립니다.
    <br>Tel) <a href="tel:02-2135-5251">02-2135-5251</a></div>
