==
function onStart()
{
}
==
<h3 class="headline"><span>현재 노트<small> 왼쪽버튼을 눌러 재료를 조합하세요</small></span></h3>

<style>
    h3 small {color:gray;}
    h5 small {color:gray;}
    .img-size-explain {max-width:200px;}
</style>

<h4>클릭 몇번으로 노트를 제작해보세요!</h4>
<p>
    <input type="button" class="btn btn-lg btn-infos" id="btn_makerandom" value="랜덤 조합" />

</p>

<p>
    <img style="width:8s0%;margin:10%;"
        src=" {{ ('assets/images/cook/paper/note/preview/스프링-B4-단면4도-소프트커버-스노우250g-라운딩-라벨스틱.jpg')|theme }}" />

</p>
