description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <link href="{{ [
            'assets/less/theme.less'
        ]|theme }}" rel="stylesheet">
        <link href="/modules/system/assets/ui/vendor/select2/css/select2.less" rel="stylesheet/less">

    </head>
    <body class="page-{{ this.page.id }} layout-{{ this.layout.id }}">

        <!-- Scripts -->
        <script src="{{ [
            'assets/javascript/jquery.min.js',

            'assets/vendor/bootstrap/js/transition.js',
            'assets/vendor/bootstrap/js/alert.js',
            'assets/vendor/bootstrap/js/button.js',
            'assets/vendor/bootstrap/js/carousel.js',
            'assets/vendor/bootstrap/js/collapse.js',
            'assets/vendor/bootstrap/js/dropdown.js',
            'assets/vendor/bootstrap/js/modal.js',
            'assets/vendor/bootstrap/js/tooltip.js',
            'assets/vendor/bootstrap/js/popover.js',
            'assets/vendor/bootstrap/js/scrollspy.js',
            'assets/vendor/bootstrap/js/tab.js',
            'assets/vendor/bootstrap/js/affix.js',

            'assets/vendor/jquery-ui/js/jquery.ui.core.js',
            'assets/vendor/jquery-ui/js/jquery.ui.widget.js',
            'assets/vendor/jquery-ui/js/jquery.ui.mouse.js',
            'assets/vendor/jquery-ui/js/jquery.ui.position.js',
            'assets/vendor/jquery-ui/js/jquery.ui.button.js',
            'assets/vendor/jquery-ui/js/jquery.ui.slider.js',
            'assets/vendor/jquery-ui/js/jquery.ui.effects.js',
            'assets/vendor/jquery-ui/js/jquery.ui.touchpunch.js',

            'assets/vendor/flat-ui/js/video.js',
            'assets/vendor/flat-ui/js/bootstrap-switch.js',
            'assets/vendor/flat-ui/js/bootstrap-tagsinput.js',
            'assets/vendor/flat-ui/js/holder.js',
            'assets/vendor/flat-ui/js/typeahead.jquery.js',
            'assets/vendor/flat-ui/js/flatui-radiocheck.js',

            'assets/javascript/app.js'
        ]|theme }}"></script>
        <script src="/modules/system/assets/ui/vendor/select2/js/select2.full.js"></script>
        <!-- Content -->
        <div id="layout-content">
            {% page %}
        </div>

    </body>
</html>
